* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

body {
  height: 100vh;
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 200px));
  grid-gap: 15px;
  background: #efefef;
  padding: 15px;
}

.square {
  aspect-ratio: 1;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
}

.square:hover {
  cursor: pointer;
}
